#ifndef TINYWATCHY_DEFINES_PRIVATE_H
#define TINYWATCHY_DEFINES_PRIVATE_H

#define WIFI_SSID ""
#define WIFI_PASS ""
#define TIMEZONE 3600 // Use as offset

#define SLEEP_START 1
#define SLEEP_END 9

/*
 * Button map selection. Current options are 0 and 1
 *
 * 0:
 * BACK ------ SELECT
 *      |    |
 *      |    |
 * LEFT ------ RIGHT
 *
 * 1:
 * LEFT ------ RIGHT
 *      |    |
 *      |    |
 * BACK ------ SELECT
 */
#define BUTTON_MAP 0

#endif //TINYWATCHY_DEFINES_PRIVATE_H
